*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;
}
:root{
    --ColorSombra: #0d0c1e;
    --ColorHeader: #161b33;
    --ColorDiv: #474973;
    --ColorFondo: #a69cac;
    --ColorLetrasHeader: #f1dac4;
}
body{
    background-color: var(--ColorFondo);
}
header{
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    background-color: var(--ColorHeader);
    justify-content:left ;
    width: 100%;
    box-shadow: 1px 1px 10px var(--ColorSombra);
}
header h1{
    height: 37px;
    padding-top: 20px;
    color: var(--ColorLetrasHeader);
}
.Nombre{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    color: var(--ColorHeader);
}
.cuerpo_pagina{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.datos_personales{
    display: flex;
    flex-direction: column;
    background-color: var(--ColorDiv);
    box-shadow: 1px 1px 10px var(--ColorSombra);
    color: var(--ColorFondo);
    padding: 15px;
    margin-left: 10px;
}
.datos_personales h3{
    padding: 5px 10px;
}
.datos_personales h2{
    padding: 10px 0;
}
.datos_personales ul{
    padding-left: 15px;
}
.info_extra{
    display: flex;
    flex-direction: column;
    color: var(--ColorFondo);
    background-color: var(--ColorDiv);
    box-shadow: 1px 1px 10px var(--ColorSombra);
    padding: 10px;
    margin: 10px;
    max-width: 70%;
}
.info_extra p{
    font-size: 130%;
    padding: 20px 15px;
}
.boton{
    margin-top: 2%;
    margin-left: 45%;
}
.boton a{
    text-decoration: none;
    color: var(--ColorLetrasHeader);
    background-color: var(--ColorHeader);
    box-shadow: 1px 1px 10px var(--ColorSombra);
    font-size:larger ;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.5s;
}
.boton a:hover{
    padding: 20px;
    font-size: large;
    color: var(--ColorHeader);
    background-color: var(--ColorLetrasHeader);
    box-shadow: 2px 2px 20px var(--ColorSombra);
}
.Certificados{
    background-color: var(--ColorDiv);
    box-shadow: 1px 1px 10px var(--ColorSombra);
    display: flex;
    flex-direction: column;
    margin: 3% 3%;
    padding: 4% 0;
}
.Certificados  .fila{
    display: flex;
    flex-direction: row;
}
.Certificados .fila .columna, .columna2, .columna3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6%;
}
.Certificados img{
    box-shadow: 1px 1px 10px var(--ColorSombra);
}
.Certificados h2{
    margin-bottom: 4%;
}
.Certificados .columna3 h2{
    margin-top: 4%;
    margin-bottom: 2%;
}
.Certificados img{
    transition: all 1s;
}
.Certificados img:hover{
    width: 550px;
    box-shadow: 15px 15px 25px var(--ColorSombra);
}
.Canal{
    display: flex;
    flex-direction: column;
    background-color: var(--ColorDiv);
    margin: 3% 3%;
    padding: 3%;
    box-shadow: 1px 1px 10px var(--ColorSombra);
    align-items: center;
}
.Canal h2{
    margin-bottom: 3%;
}
.Canal .muestra{
    display: flex;
    flex-direction: row;
}
.Canal .muestra img{
    width: 500px;
    box-shadow: 1px 1px 10px var(--ColorSombra);
    margin-right: 3%;
}
.Canal .muestra iframe{
    box-shadow: 1px 1px 10px var(--ColorSombra);
}
footer{
    margin: 2% 0 1% 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}
